/* stijl.css - labo 3, donut (reset.css is linked before this file) */

/* === tokens === */
:root {

}

/* === your rules === */
body{
   font-family: serif,Georgia;
   
}

main{
    background-color:#ec4b03;
    height: 90vh;
    border: 0.75rem solid black;
    margin-top: 5vh;
    margin-bottom:5vh;
    
}

div{
    background-color:#b99ec1;
    height: 70%;
    border: 0.75rem solid black;
    border-radius: 50%;
    margin:15%;
    overflow: hidden;
    
}

h1{
    background-color:#f9b700;
    border: 0.75rem solid black;
    height: 90%;
    margin: -7%;
    margin-right: 4.5rem;
    text-align: center;
    padding-top: 10rem;
    font-size: 4rem;
}

